#navbar {
    .logo-pages {
        display: flex;

        .logo {
            width: 20px;
            height: 20px;

            img {
                width: 70px;
                margin-top: 40px;
            }
        }

        .pages {
            margin-left: 70px;
            margin-top: 55px;
            font-size: 19px;

            ul {
                display: flex;
                gap: 20px;

                li {
                    list-style: none;

                    a {
                        text-decoration: none;
                        color: black;
                        font-family: 'Times New Roman', Times, serif;
                    }
                }
            }
        }
    }

    .basket-search {
        margin-top: 55px;
        display: flex;
        margin-left: 476px;

        .basket {
            display: flex;

            a {

                i {
                    color: black;
                    font-size: 20px;
                }
            }

            .basket-number {
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background-color: red;
                color: white;
                margin-top: -7px;
                margin-left: -5px;
                position: relative;
                margin-right: 10px;

                span {
                    font-size: 13px;
                    position: absolute;
                    left: 3px;
                    bottom: -2px;
                }
            }
        }

        .search {
            margin-left: 12px;
            cursor: pointer;

            i {
                font-size: 20px;
            }
        }

        .wishlist {
            margin-left: 12px;

            a {

                i {
                    font-size: 20px;
                    color: black;
                }
            }

            .border {
                margin-left: 10px;
            }
        }

        .user {
            margin-left: 12px;
            cursor: pointer;

            i {
                font-size: 20px;
                color: black;
            }

            .border {
                margin-left: 10px;
            }
        }
    }

    .search-input {
        right: 113px;
        position: absolute;
        top: 103px;

        input {
            border: none;
            outline: none;
        }
    }

    .login-register {
        width: 230px;
        height: 80px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 7px;
        position: absolute;
        right: 109px;
        top: 91px;

        a {
            margin-left: 20px;
            font-size: 17px;
            padding-top: 7px;
            text-decoration: none;
            color: black;
        }

        .border {
            margin-top: 13px;
        }
    }
}

#slider {
    margin-top: 75px;

    body {
        position: relative;
        height: 100%;
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
    }

    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-button-prev {
        display: none;
    }

    .swiper-button-next {
        display: none;
    }

    .swiper-slide {

        &:nth-child(3) {
            p {
                color: white;
            }

            h1 {
                color: white;
            }

            h3 {
                color: white;
            }
        }

        .shop {
            position: absolute;
            background-color: rgb(197, 2, 2);
            color: #fff;
            padding: 5px 33px;
            width: 200px;
            box-shadow: none !important;
            border: none;
            font-family: Roboto, Helvetica Neue, sans-serif;
            font-size: 1rem;
            font-weight: 500;
            cursor: pointer;
            text-decoration: none;
            width: 200x;
            height: 43px;
            left: 160px;
            bottom: 150px;

            &:hover {
                background-color: rgb(143, 1, 1);
                transition: 0.5s;
            }
        }

    }

    p {
        position: absolute;
        display: inline-block;
        left: 160px;
        top: 150px;
        font-size: 10px;
        color: #333;
        letter-spacing: 3px;
        font-weight: 700;

    }

    h1 {
        position: absolute;
        display: inline-block;
        left: 160px;
        top: 160px;
        font-size: 48px;
        color: #333;
        letter-spacing: 3px;
        font-weight: 700;
    }

    h3 {
        position: absolute;
        font-size: 20px;
        text-align: left;
        color: #333;
        margin-bottom: -32px;
        font-weight: 300;
        letter-spacing: 2px;
        bottom: 243px;
        left: 160px !important;
        width: 700px;
    }

    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        display: block;
        width: 100%;
        height: 500px;
        object-fit: cover;
    }
}

#products {
    margin-top: 150px;
    .container{
        .row{
            .filterDiv {
                display: none ;
            }
            
            .show {
                display: block;
            }
         
        }
    }

    .category {
        ul {
            display: flex;
            gap: 10px;
            justify-content: center;

            .active{
                transition: 1s;
                background-color: #000;
                a{
                    color: #fff !important;
                }
                
            }
            li {
                list-style: none;
                border: 1px solid black;
                width: 150px;
                text-align: center;
                height: 40px;
                padding-top: 7px;
                cursor: pointer;
                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }

    .products {
        width: 100%;
        height: 560px;
        margin-top: 50px;
        overflow: hidden;
        a {

            img {
                transition: s;
                width: 100%;
                height: 400px;
            }
        }

        .name {
            margin-top: 10px;

            a {
                text-decoration: none;
                color: gray;
                font-family: monospace;

                &:hover {
                    color: red;
                    transition: 0.8s;
                }
            }
        }

        .category-name {
            a {
                text-decoration: none;
                color: black;
                font-family: initial;
                font-size: 24px;

                &:hover {
                    color: red;
                    transition: 0.8s;
                }
            }
        }

        .price-button {
            display: flex;
            margin-top: 15px;

            p {
                color: gray;
                font-family: monospace;
            }

            button {
                border: none;
                margin-left: 167px;
            }
        }
    }

}

#our-services {
    margin-top: 100px;

    .service {

        .background-image {
            height: 420px;


            .icon {
                text-align: center;
                font-size: 20px;
                padding-top: 50px;

                span {
                    color: white;
                }
            }

            .name {
                color: white;
                text-align: center;
                font-size: 20px;
                margin-top: 10px;
                font-family: monospace;

                // p {}
            }

            .description {
                color: white;
                text-align: center;
                font-family: serif;

                h3 {
                    width: 600px;
                    margin-left: 350px;
                }
            }

            .button {
                margin-top: 40px;
                text-align: center;

                button {
                    width: 200px;
                    background: none;
                    border: 1px solid white;

                    &:hover {
                        background-color: white;
                        transition: 0.5s;

                        p {
                            color: #000;
                        }
                    }

                    p {
                        padding-top: 13px;
                        color: white;
                    }
                }
            }

        }
    }
}

#authors {
    margin-top: 150px;

    .authors {
        margin-left: 100px;

        .services {
            text-align: center;
            color: gray;

        
        }

        .month {
            text-align: center;
            font-family: monospace;

        }

        .description {
            text-align: center;
            color: gray;
            margin-top: 10px;

            p {
                font-size: 18px;
                width: 567px;
                margin-left: 300px;
            }
        }

        .author {
            margin-top: 50px;

            .profession {
                margin-left: 70px;
                margin-top: 20px;
                font-family: fantasy;

                p {
                    color: gray;
                }
            }

            .name {
                margin-left: 45px;

                p {
                    font-size: 18px;
                }
            }

            .author-description {
                margin-left: -22px;

                p {
                    width: 250px;
                    text-align: center;
                }

            }
        }
    }
}

#autobiography1 {
    margin-top: 150px;

    .autobiography1 {
        width: 100%;
        height: 500px;
        display: flex;

        .left {
            .name {
                color: gray;
                margin-left: 100px;

                p {
                    padding-top: 101px;
                    font-family: fangsong;
                }
            }

            .title {
                margin-left: 100px;
            }

            .description {
                margin-left: 100px;
                margin-top: 20px;

                p {
                    width: 400px;
                }
            }

            .button {
                margin-top: 40px;
                margin-left: 100px;

                button {
                    width: 200px;
                    background: none;
                    border: 1px solid black;

                    &:hover {
                        background-color: #282828;
                        transition: 0.5s;

                        p {
                            color: white;
                        }
                    }

                    p {
                        padding-top: 13px;
                        color: black;
                        font-family: initial;
                    }
                }
            }

            .image {
                margin-left: 500px;

                img {
                    width: 170px;
                }
            }
        }

        .right {
            width: 200px;
            height: 100%;

            .image1 {
                img {
                    width: 300px;
                    margin-top: -46px;
                    margin-left: 100px;
                }
            }

            .image2 {
                img {
                    width: 350px;
                    margin-top: -88px;
                    margin-left: 200px;
                }
            }


        }

    }
}

#autobiography2 {
    margin-top: 200px;

    .autobiography2 {
        background-color: aliceblue;
        width: 100%;
        height: 500px;
        display: flex;

        .left {
            .backgrounds {
                display: flex;

                .backgorund-image {

                    width: 200px;
                    height: 500px;
                }

                .images {
                    .image1 {

                        img {
                            width: 400px;
                            margin-top: -38px;
                        }
                    }

                    .image2 {

                        img {
                            width: 200px;
                            margin-left: -140px;
                            margin-top: -42px;
                        }
                    }
                }

            }

        }

        .right {
            margin-left: 50px;

            .name {
                color: gray;
                margin-left: 100px;

                p {
                    padding-top: 101px;
                    font-family: fangsong;
                }
            }

            .title {
                margin-left: 100px;
            }

            .description {
                margin-left: 100px;
                margin-top: 20px;

                p {
                    width: 400px;
                }
            }

            .button {
                margin-top: 40px;
                margin-left: 100px;

                button {
                    width: 200px;
                    background: none;
                    border: 1px solid black;

                    &:hover {
                        background-color: #282828;
                        transition: 0.5s;

                        p {
                            color: white;
                        }
                    }

                    p {
                        padding-top: 13px;
                        color: black;
                        font-family: initial;
                    }
                }
            }

            .image {
                margin-left: 320px;

                img {
                    width: 300px;
                }
            }
        }
    }
}

#images {
    margin-top: 200px;

    .image1 {
        overflow: hidden;
        img {
            width: 100%;

            &:hover {
                transform: scale(1.1);
                transition: 0.5s;
            }
        }
    }

    .image2 {
        overflow: hidden;

        img {
            width: 100%;

            &:hover {
                transform: scale(1.1);
                transition: 0.5s;
            }
        }

    }

    .image3 {
        overflow: hidden;

        img {
            width: 100%;
            margin-top: 23px;

            &:hover {
                transform: scale(1.1);
                transition: 0.5s;
            }
        }

    }

    .image4 {
        margin-top: 20px;
        overflow: hidden;

        img {
            width: 100%;

            &:hover {
                transform: scale(1.1);
                transition: 0.5s;
            }
        }

    }

    .image5 {
        margin-top: 20px;
        overflow: hidden;

        img {
            width: 100%;

            &:hover {
                transform: scale(1.1);
                transition: 0.5s;
            }
        }

    }

    .image6 {
        margin-top: 26px;
        overflow: hidden;

        img {
            width: 100%;

            &:hover {
                transform: scale(1.1);
                transition: 0.5s;
            }
        }

    }

    .image7 {
        overflow: hidden;

        img {
            width: 100%;

            &:hover {
                transform: scale(1.1);
                transition: 0.5s;
            }
        }

    }

    .image8 {
        margin-top: 17px;
        overflow: hidden;

        img {
            width: 100%;

            &:hover {
                transform: scale(1.1);
                transition: 0.5s;
            }
        }

    }

    .image9 {
        margin-top: 26px;
        overflow: hidden;

        img {
            width: 100%;

            &:hover {
                transform: scale(1.1);
                transition: 0.5s;
            }
        }

    }

    .image10 {
        margin-top: 26px;
        overflow: hidden;

        img {
            width: 100%;

            &:hover {
                transform: scale(1.1);
                transition: 0.5s;
            }
        }

    }

    .image11 {
        overflow: hidden;

        img {
            width: 100%;

            &:hover {
                transform: scale(1.1);
                transition: 0.5s;
            }
        }

    }

    .image12 {
        overflow: hidden;
        margin-top: 18px;

        img {
            width: 100%;

            &:hover {
                transform: scale(1.1);
                transition: 0.5s;
            }
        }
    }



}

#brand {
    margin-top: 150px;

    img {
        width: 100%;
        height: 170px;
        cursor: pointer;

        &:hover {
            margin-top: -20px;
            transition: 0.5s;
        }
    }
}

#footer {
    margin-top: 150px;
    background-color: #282828;
    width: 100%;
    height: 450px;

    .left1 {
        margin-top: 80px;

        h4 {
            color: white;
        }

        .story {
            margin-top: 40px;

            p {
                cursor: pointer;
                color: rgb(153, 153, 153);

                &:hover {
                    color: white;
                    transition: 0.5s;
                }
            }
        }

    }

    .left2 {
        margin-top: 80px;

        h4 {
            color: white;
        }

        .story {
            margin-top: 40px;

            p {
                cursor: pointer;
                color: rgb(153, 153, 153);

                &:nth-child(2) {
                    margin-top: -15px;
                }

                &:nth-child(3) {
                    margin-top: -15px;
                }
            }
        }

        .icons {
            a {
                i {
                    color: rgb(153, 153, 153);

                    &:hover {
                        color: white;
                        transition: 0.5s;
                    }
                }
            }
        }

    }

    .left3 {
        margin-top: 80px;

        h4 {
            color: white;
        }

        .story {
            margin-top: 40px;

            p {
                cursor: pointer;
                color: rgb(153, 153, 153);

                &:nth-child(2) {
                    margin-top: -15px;
                }
            }
        }

        .email-input {
            input {
                background-color: #282828;
                border: 1px solid rgb(153, 153, 153);
                width: 260px;
                height: 50px;
            }
        }

    }

    .right {
        margin-top: 80px;

        h4 {
            color: white;
        }

        .story {
            margin-top: 40px;

            .images1 {
                display: flex;
                gap: 10px;

                img {
                    width: 100%;
                }
            }

            .images2 {
                display: flex;
                gap: 10px;
                margin-top: 10px;

                img {
                    width: 100%;
                }
            }

        }


    }

    .btn {
        margin-left: 350px;

        #topbtn {
            width: 40px;
            height: 40px;
            border-radius: 50%;

            i {
                color: #909090;
                font-size: 23px;
            }
        }
    }
}
