#navbar {
    .logo-pages {
        display: flex;

        .logo {
            width: 20px;
            height: 20px;

            img {
                width: 70px;
                margin-top: 40px;
            }
        }

        .pages {
            margin-left: 70px;
            margin-top: 55px;
            font-size: 19px;

            ul {
                display: flex;
                gap: 20px;

                li {
                    list-style: none;

                    a {
                        text-decoration: none;
                        color: black;
                        font-family: 'Times New Roman', Times, serif;
                    }
                }
            }
        }
    }

    .basket-search {
        margin-top: 55px;
        display: flex;
        margin-left: 476px;

        .basket {
            display: flex;

            a {

                i {
                    color: black;
                    font-size: 20px;
                }
            }

            .basket-number {
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background-color: red;
                color: white;
                margin-top: -7px;
                margin-left: -5px;
                position: relative;
                margin-right: 10px;

                span {
                    font-size: 13px;
                    position: absolute;
                    left: 3px;
                    bottom: -2px;
                }
            }
        }

        .search {
            margin-left: 12px;
            cursor: pointer;

            i {
                font-size: 20px;
            }
        }

        .wishlist {
            margin-left: 12px;

            a {

                i {
                    font-size: 20px;
                    color: black;
                }
            }

            .border {
                margin-left: 10px;
            }
        }

        .user {
            margin-left: 12px;
            cursor: pointer;

            i {
                font-size: 20px;
                color: black;
            }

            .border {
                margin-left: 10px;
            }
        }
    }

    .search-input {
        right: 113px;
        position: absolute;
        top: 103px;

        input {
            border: none;
            outline: none;
            padding-left: 15px;
        }
    }

    .login-register {
        width: 230px;
        height: 80px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 7px;
        position: absolute;
        right: 109px;
        top: 91px;

        a {
            margin-left: 20px;
            font-size: 17px;
            padding-top: 7px;
            text-decoration: none;
            color: black;
        }

        .border {
            margin-top: 13px;
        }
    }
}

#background {
    .background-images {
        height: 300px;
        background-size: cover;
        background-position: center;

        h2 {
            text-align: center;
            color: white;
            padding-top: 120px;
            font-family: monospace;
        }
    }

}

#detail {
    margin-top: 100px;

    .product-image {
        position: sticky;
        top: 50px !important;
        left: 0;
        img {
            width: 100%;
        }
    }

    .section-1 {
        .name {
            p {
                color: gray;
                font-family: "Josefin Sans", sans-serif;
                font-size: 17px;
                cursor: pointer;

                &:hover {
                    color: rgb(241, 6, 6);
                    transition: 1s;
                }
            }
        }

        .wellness {
            margin-top: -15px;

            h2 {
                font-family: auto;
            }
        }

        .price {
            p {
                font-size: 20px;
            }
        }

        .description {
            margin-top: 20px;

            p {
                font-family: auto;
                color: gray;
            }
        }

        .add-basket-button {
            margin-top: 20px;

            button {
                width: 200px;
                height: 50px;
                background-color: #d14031;
                color: white;
                border: none;
                font-family: auto;

                &:hover {
                    background-color: rgb(172, 2, 2);
                    transition: 0.5s;
                }
            }
        }

        .sku-code {
            display: flex;
            margin-top: 50px;

            p {
                color: gray;
                font-family: auto;
            }

            span {
                color: gray;
                font-family: auto;
            }
        }

        .categories {
            display: flex;

            p {
                color: gray;
                font-family: auto;
            }

            span {
                color: gray;
                font-family: auto;
            }
        }

        .tags {
            display: flex;

            p {
                color: gray;
                font-family: auto;
            }

            span {
                color: gray;
                font-family: auto;
            }
        }

        .border {
            margin-top: 20px;
        }

        .authorimage-authorname {
            margin-top: 50px;
            display: flex;

            .author-image {
                img {
                    width: 80px;
                }
            }

            .author-name {
                margin-left: 20px;

                p {
                    color: gray;
                    font-family: auto;
                }

                span {
                    font-size: 20px;
                    font-family: auto;
                }
            }
        }

        .author-description {
            margin-top: 20px;

            p {
                color: gray;
                font-family: auto;
            }
        }

        .author-comment {
            margin-top: 50px;
            background-color: #fbf9f6;
            height: 250px;

            .starts {
                display: flex;
                gap: 5px;
                padding-top: 40px;
                margin-left: 50px;
            }

            .comment{
                p{
                    color: gray;
                    font-family: auto;
                    width: 680px;
                    margin-left: 50px;
                    margin-top: 20px;
                    font-size: 18px;
                }
            }

            .logo-name{
                display: flex;
                margin-left: 50px;
                padding-top: 10px;
                .logo-image{
                    img{

                    }
                }
                .names{
                    margin-left: 10px;
                    p{
                        font-family: auto;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

#review-area{
    .tab-menu {
        margin-top: 100px;
        ul {
            display: flex;
            gap: 10px;
            justify-content: center;

            .active{
                transition: 1s;
                background-color: #198754;
                
            }
            li {
                list-style: none;
                border: 1px solid black;
                width: 150px;
                text-align: center;
                height: 40px;
                padding-top: 7px;
                cursor: pointer;
                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }

        
    }

    .description{
        margin-top: 20px;
        p{
            text-align: center;
            font-family: auto;
            color: gray;
        }
    }

    .additional-information{
        p{
            
        }
    }

    .filterDiv {
        display: none ;
    }
    
    .show {
        display: block;
    }


    .user-comment{
        margin-top: 20px;
        text-align: center;
        p{
            font-size: 20px;
            font-family: auto;
            font-weight: bold;
        }
        input{
            width: 50%;
            height: 50px;
            border: 1px solid rgba(128, 128, 128, 0.2117647059);
            padding-left: 15px;
            outline: none;
        }

        textarea{
            width: 50%;
            border: 1px solid rgba(128, 128, 128, 0.2117647059);
            padding-left: 15px;
            padding-top: 15px;
            outline: none;
        }

        .submit-button {
            margin-top: 20px;
    
            button {
                width: 130px;
                height: 50px;
                background-color: #d14031;
                color: white;
                border: none;
                font-family: initial;
    
                &:hover {
                    background-color: rgb(172, 2, 2);
                    transition: 0.5s;
                }
            }
        }
    }
}

#related-products{
    margin-top: 100px;
    .related-products-word{
        h2{
            font-family: auto;
        }
    }

    .related-products{
        margin-top: 50px;
        .image{
            img{
                cursor: pointer;
                width: 100%;
            }
        }
        .author-name{
            margin-top: 10px;
            p{
                color: gray;
                font-family: auto;
                font-size: 18px;
                cursor: pointer;
                &:hover{
                    color: rgb(241, 6, 6);
                    transition: 1s;
                }
            }
        }
        .book-name{
            margin-top: -10px;
            span{
                font-family: auto;
                font-weight: bold;
                font-size: 18px;
                cursor: pointer;
                &:hover{
                    color: rgb(241, 6, 6);
                    transition: 1s;
                }
            }
        }

        .book-price{
            margin-top: 5px;
            p{
                color: gray;
                font-family: auto;
            }
        }
    }
    
}

#footer {
    margin-top: 150px;
    background-color: #282828;
    width: 100%;
    height: 450px;

    .left1 {
        margin-top: 80px;

        h4 {
            color: white;
        }

        .story {
            margin-top: 40px;

            p {
                cursor: pointer;
                color: rgb(153, 153, 153);

                &:hover {
                    color: white;
                    transition: 0.5s;
                }
            }
        }

    }

    .left2 {
        margin-top: 80px;

        h4 {
            color: white;
        }

        .story {
            margin-top: 40px;

            p {
                cursor: pointer;
                color: rgb(153, 153, 153);

                &:nth-child(2) {
                    margin-top: -15px;
                }

                &:nth-child(3) {
                    margin-top: -15px;
                }
            }
        }

        .icons {
            a {
                i {
                    color: rgb(153, 153, 153);

                    &:hover {
                        color: white;
                        transition: 0.5s;
                    }
                }
            }
        }

    }

    .left3 {
        margin-top: 80px;

        h4 {
            color: white;
        }

        .story {
            margin-top: 40px;

            p {
                cursor: pointer;
                color: rgb(153, 153, 153);

                &:nth-child(2) {
                    margin-top: -15px;
                }
            }
        }

        .email-input {
            input {
                background-color: #282828;
                border: 1px solid rgb(153, 153, 153);
                width: 260px;
                height: 50px;
            }
        }

    }

    .right {
        margin-top: 80px;

        h4 {
            color: white;
        }

        .story {
            margin-top: 40px;

            .images1 {
                display: flex;
                gap: 10px;

                img {
                    width: 100%;
                }
            }

            .images2 {
                display: flex;
                gap: 10px;
                margin-top: 10px;

                img {
                    width: 100%;
                }
            }

        }


    }

    .btn {
        margin-left: 350px;

        #topbtn {
            width: 40px;
            height: 40px;
            border-radius: 50%;

            i {
                color: #909090;
                font-size: 23px;
            }
        }
    }
}