#navbar {
    .logo-pages {
        display: flex;

        .logo {
            width: 20px;
            height: 20px;

            img {
                width: 70px;
                margin-top: 40px;
            }
        }

        .pages {
            margin-left: 70px;
            margin-top: 55px;
            font-size: 19px;

            ul {
                display: flex;
                gap: 20px;

                li {
                    list-style: none;

                    a {
                        text-decoration: none;
                        color: black;
                        font-family: 'Times New Roman', Times, serif;
                    }
                }
            }
        }
    }

    .basket-search {
        margin-top: 55px;
        display: flex;
        margin-left: 476px;

        .basket {
            display: flex;

            a {

                i {
                    color: black;
                    font-size: 20px;
                }
            }

            .basket-number {
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background-color: red;
                color: white;
                margin-top: -7px;
                margin-left: -5px;
                position: relative;
                margin-right: 10px;

                span {
                    font-size: 13px;
                    position: absolute;
                    left: 3px;
                    bottom: -2px;
                }
            }
        }

        .search {
            margin-left: 12px;
            cursor: pointer;

            i {
                font-size: 20px;
            }
        }

        .wishlist {
            margin-left: 12px;

            a {

                i {
                    font-size: 20px;
                    color: black;
                }
            }

            .border {
                margin-left: 10px;
            }
        }

        .user {
            margin-left: 12px;
            cursor: pointer;

            i {
                font-size: 20px;
                color: black;
            }

            .border {
                margin-left: 10px;
            }
        }
    }

    .search-input {
        right: 113px;
        position: absolute;
        top: 103px;

        input {
            border: none;
            outline: none;
        }
    }

    .login-register {
        width: 230px;
        height: 80px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 7px;
        position: absolute;
        right: 109px;
        top: 91px;

        a {
            margin-left: 20px;
            font-size: 17px;
            padding-top: 7px;
            text-decoration: none;
            color: black;
        }

        .border {
            margin-top: 13px;
        }
    }
}

#background {
    .background-images {
        height: 300px;
        background-size: cover;
        background-position: center;

        h2 {
            text-align: center;
            color: white;
            padding-top: 120px;
            font-family: monospace;
        }
    }

}

#product-sidebar {
    margin-top: 100px;

    .results-sort {
        display: flex;
        width: 100%;
        justify-content: space-between;

        .results {
            p {
                color: gray;
            }
        }

        .sort {
            width: 250px !important;

            .form-select {
                border-radius: inherit;
                color: gray;
                height: 50px;

                &:focus {
                    box-shadow: none;
                    border-color: rgba(128, 128, 128, 0.2117647059);
                }
            }
        }
    }

    .products {
        margin-top: 50px;

        .image {
            img {
                width: 100%;
            }
        }

        .name {
            margin-top: 10px;

            a {
                text-decoration: none;
                color: gray;
                font-family: monospace;

                &:hover {
                    color: red;
                    transition: 0.8s;
                }
            }
        }

        .category-name {
            a {
                text-decoration: none;
                color: black;
                font-family: initial;
                font-size: 24px;

                &:hover {
                    color: red;
                    transition: 0.8s;
                }
            }
        }

        .price-button {
            display: flex;
            margin-top: 15px;

            p {
                color: gray;
                font-family: monospace;
            }

            button {
                border: none;
                margin-left: 167px;
            }
        }
    }

    .pagination {
        justify-content: center;
        margin-top: 100px;

        .left-icon {
            i {
                color: gray;
                cursor: pointer;

                &:hover {
                    color: black;
                    transition: 0.5s;
                }
            }
        }

        .number {
            display: flex;
            gap: 15px;
            margin-left: 15px;

            p {
                color: gray;
                cursor: pointer;
                font-family: math;

                &:hover {
                    color: black;
                    transition: 0.5s;
                }
            }
        }

        .right-icon {
            margin-left: 15px;

            i {
                color: gray;
                cursor: pointer;

                &:hover {
                    color: black;
                    transition: 0.5s;
                }
            }
        }
    }


    .right-section {
        margin-left: 80px;

        .search {
            input {
                height: 50px;
                border: 1px solid #80808036;
                width: 100%;

                &::placeholder {
                    padding-left: 10px;
                }

            }
        }

        .filter {
            margin-top: 40px;
            font-weight: bold;

            h5 {
                font-family: initial;
            }
        }

        .product-price {
            font-family: 'Poppins', sans-serif;

            .price-title {
                padding: 2px 20px;

                h3 {
                    font-size: 18px;
                    font-weight: 600;
                    text-transform: capitalize;
                }
            }

            .price-filter {

                .card {
                    border-radius: 5px;
                    padding: 0 20px 20px 20px;
                }

                h4 {
                    color: #000;
                    margin-bottom: 20px;
                    text-align: center;
                    font-weight: 600;
                }

                .price-content {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 0 30px;
                }

                label {
                    font-size: 12px;
                    font-weight: 500;
                }

                p {
                    font-size: 16px;
                    font-weight: 600;
                }

                .range-slider {
                    position: relative;
                    margin: 15px 0 30px 0;
                }

                input[type=range] {
                    width: 100%;
                    background: transparent;
                    position: absolute;
                    left: 0;
                }

                input[type=range]::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    height: 15px;
                    width: 15px;
                    border-radius: 50%;
                    background: #36b37e;
                    cursor: pointer;
                    margin-top: -5px;
                    position: relative;
                    z-index: 1;
                }

                input[type=range]::-webkit-slider-runnable-track {
                    width: 100%;
                    height: 5px;
                    background: #e8e8e8;
                    border-radius: 3px;
                    border: none;
                }
            }
        }

        .borders {
            display: flex;
            gap: 30px;
            margin-top: 30px;

            .border {
                width: 100%;
            }
        }

        .logo {
            margin-top: -18px;

            span {
                font-size: 20px;
                margin-left: 107px;
            }
        }

        .top-5 {
            margin-top: 20px;

            h5 {
                font-family: initial;
            }
        }

        .images {
            display: flex;
            gap: 5px;
            margin-top: 20px;

            img {
                width: 41px;
                height: 80px;
            }
        }

        .borders {
            display: flex;
            gap: 30px;
            margin-top: 30px;

            .border {
                width: 100%;
            }
        }

        .logo {
            margin-top: -18px;

            span {
                font-size: 20px;
                margin-left: 107px;
            }
        }

        .categories {
            margin-top: 20px;

            h5 {
                font-family: initial;
            }
        }

        .product-categories {

            margin-top: 15px;

            .product-category {
                display: flex;

                span {
                    margin-left: 10px;
                    font-family: "Josefin Sans", sans-serif;
                    color: gray;
                    cursor: pointer;
                }

                p {
                    font-family: "Josefin Sans", sans-serif;
                    color: gray;
                    cursor: pointer;

                    &:hover {
                        color: #d14031;
                        transition: 0.5s;
                    }
                }
            }

        }

        .borders {
            display: flex;
            gap: 30px;
            margin-top: 30px;

            .border {
                width: 100%;
            }
        }

        .logo {
            margin-top: -18px;

            span {
                font-size: 20px;
                margin-left: 107px;
            }
        }

        .tags {
            margin-top: 20px;

            h5 {
                font-family: initial;
            }
        }

        .tags-name {
            margin-top: 15px;

            p {
                color: gray;
                font-family: initial;
                font-size: 20px;

                &:hover {
                    color: #d14031;
                    transition: 0.5s;
                    cursor: pointer;
                }
            }
        }

        .instagram {
            margin-top: 20px;

            h5 {
                font-family: initial;
            }
        }

        .instagram-image {
            display: flex;
            gap: 5px;
            margin-top: 20px;

            a {
                img {
                    width: 100%;
                }
            }

        }

        .socials {
            margin-top: 20px;

            h5 {
                font-family: initial;
            }
        }

        .icons {
            margin-left: -33px;
            margin-top: 20px;

            ul {
                display: flex;
                gap: 15px;

                li {
                    list-style: none;

                    a {
                        text-decoration: none;

                        i {
                            color: black;

                            &:hover {
                                color: #d14031;
                                transition: 0.5s;
                            }
                        }
                    }
                }
            }
        }
    }
}

#footer {
    margin-top: 150px;
    background-color: #282828;
    width: 100%;
    height: 450px;

    .left1 {
        margin-top: 80px;

        h4 {
            color: white;
        }

        .story {
            margin-top: 40px;

            p {
                cursor: pointer;
                color: rgb(153, 153, 153);

                &:hover {
                    color: white;
                    transition: 0.5s;
                }
            }
        }

    }

    .left2 {
        margin-top: 80px;

        h4 {
            color: white;
        }

        .story {
            margin-top: 40px;

            p {
                cursor: pointer;
                color: rgb(153, 153, 153);

                &:nth-child(2) {
                    margin-top: -15px;
                }

                &:nth-child(3) {
                    margin-top: -15px;
                }
            }
        }

        .icons {
            a {
                i {
                    color: rgb(153, 153, 153);

                    &:hover {
                        color: white;
                        transition: 0.5s;
                    }
                }
            }
        }

    }

    .left3 {
        margin-top: 80px;

        h4 {
            color: white;
        }

        .story {
            margin-top: 40px;

            p {
                cursor: pointer;
                color: rgb(153, 153, 153);

                &:nth-child(2) {
                    margin-top: -15px;
                }
            }
        }

        .email-input {
            input {
                background-color: #282828;
                border: 1px solid rgb(153, 153, 153);
                width: 260px;
                height: 50px;
            }
        }

    }

    .right {
        margin-top: 80px;

        h4 {
            color: white;
        }

        .story {
            margin-top: 40px;

            .images1 {
                display: flex;
                gap: 10px;

                img {
                    width: 100%;
                }
            }

            .images2 {
                display: flex;
                gap: 10px;
                margin-top: 10px;

                img {
                    width: 100%;
                }
            }

        }


    }

    .btn {
        margin-left: 350px;

        #topbtn {
            width: 40px;
            height: 40px;
            border-radius: 50%;

            i {
                color: #909090;
                font-size: 23px;
            }
        }
    }
}